@font-face {
  font-family: 'Dock51';
  src: url('./Assets/fonts/dock51.woff2') format('woff2'),
       url('./Assets/fonts/dock51.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


#canvas {
  border: 1px black dotted
}
